option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: hotel-reservation-group3-ec2-profile
    InstanceType: t3.medium
  aws:ec2:vpc:
    AssociatePublicIpAddress: true
    ELBScheme: public
  aws:elasticbeanstalk:application:environment:
    AWS_EB_DISABLE_EIP: "true"

